
{% block header %}
    <!-- HEADER, incluye logo y nav-->
    <header class="encabezado padding-alrededor">
        <div class="contenedor-logo">  
            <a class="logo" href="{{url_for('index')}}">Argentina a un Click ! - Gestión de Excursiones</a>
        </div><!--fin del logo-->

        <!--NAV-->
        <nav id="nav__contenedor">
            <ul class="nav__lista-links">
                <li class="nav__link-simple">
                    <a href="{{url_for('index')}}">Inicio</a>
                </li>
                <li  class="nav__link-simple">
                    <a href="{{url_for('crear_excursion')}}">Crear Excursión</a>
                </li>
                <li  class="nav__link-simple">
                    <a href="{{url_for('about_us')}}">Acerca de nosotros...</a>
                </li>
            </ul>    
        </nav><!--fin del NAV-->
        <!--ESTE ES EL BOTON QUE MUESTRA EL MENU EN LAS PANTALLAS MÁS PEQUEÑAS. NO DEBE VERSE EN MODO ESCRITORIO-->
        <button id="btn__menu-movil"><i class="fa-solid fa-bars"></i></button>
    </header><!--fin del header-->

{% endblock header%}