{% extends "base_template.html"%}

{% block estilos_adicionales %}<link rel="stylesheet" href="../static/estilos/about-us.css"> {% endblock estilos_adicionales %}


{% block contenido %}

<main class="padding-alrededor fondo-principal">
    <h1 class="texto-centrado titulo-animado"> Si llegaste hasta acá, <span>¡muchas gracias!</span></h1>

    <p class="texto-about">Somos alumnos del Grupo 11 de la comisión 24164 del curso Python Full Stack del programa Codo a Codo de la Ciudad de Buenos Aires.</p>

    <p class="texto-about sangria">Damián Guenin</p>
    <p class="texto-about sangria">Franco Pirolo</p>
    <p class="texto-about sangria">Sabrina Carreira</p>
    <p class="texto-about sangria">Jimmy Martinez</p>


    <p class="fecha">Junio de 2024</p>




{% endblock contenido %}

