<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo%}{% endblock titulo %}</title>
    <!-- Agrego el link al CDN de fontAwesome para que se vean los iconos -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <!--Favicon-->
    <link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon">
    <!--Termina Favicon-->
    <link rel="stylesheet" href="../static/estilos/reset.css"> <!-- reset -->
    <link rel="stylesheet" href="../static/estilos/global.css"> <!-- variables y clases de utilidad -->
    <link rel="stylesheet" href="../static/estilos/header.css"> <!-- header/navbar -->

    <!--ACA TIENE QUE HABER UN BLOCK DE ESTILOS ADICIONALES PARA LOS ESTILOS !!-->
    {% block estilos_adicionales %}Sistema de Gestión de Reservas{% endblock estilos_adicionales %}

    <link rel="stylesheet" href="../static/estilos/footer.css"> <!-- header/navbar -->

</head>
<body>
    <div class="contenedor-general">
        {% include "componentes/header.html" %}

        {% block contenido %}<h2>ACA VA ALGO !!!!</h2>{% endblock contenido %}


        {% include "componentes/footer.html" %}

    </div>
    

    <!--Script que maneja el menú del navbar-->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>