{% extends "base_template.html"%}

{% block estilos_adicionales %}
<link rel="stylesheet" href="{{ url_for('static', filename='estilos/gestion-reservas.css') }}">
{% endblock estilos_adicionales %}


{% block contenido %}

    <h1 class="texto-centrado">Bienvenidos al Sistema de Gestión de Excursiones de Argentina a un Click !</h1>
    <p class="texto-centrado">Nuestro sistema permite alta, baja y modificaciones de las excursiones que se ofrecen en nuestros hoteles</p>


    {% for item in info %}
        <article class="tarjeta-excursion padding-alrededor">
            <div class="tarjeta-excursion__titulo">
                <h2 class="texto-centrado">{{item.titulo}} - {{item.destino}}</h2>
            </div>
            <div class="datos-excursion">
                <div class="id-excursion">{{item.id}}</div>
                <div>{{item.descripcion}}</div>
                <div>
                    <img src="{{item.url_imagen}}" alt="">
                </div>
                <div>
                    <a class="btn-accion btn-modificar" href="{{url_for('modificar_excursion', id =item.id)}}">Modificar</a>
                    <a class="btn-accion btn-eliminar" href="{{url_for('eliminar_excursion', id =item.id)}}">Eliminar</a>
                </div>
            </div>
        </article>
        
    {% endfor %}


{% endblock contenido %}
